### Exrtracting data from relational databases

### SQLite Database

#### import package

In [1]:
import sqlite3

#### connect to database

In [3]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### Create table

In [4]:
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query for creating a table

create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics INTEGER
                );
                """
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

#### insert data

In [11]:
classroom_data = [(1, "Mark","M",90,40,98),
                 (2, "Albert","M",9,4,8),
                 (3, "Lisa","F",90,90,90),
                 (4, "Eric","M",50,55,70),
                 (5, "Paulin","F",80,84,54)
                 ]

#open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """ INSERT INTO classroom
                        (student_id, name, gender,physics_marks
                        ,chemistry_marks,mathematics)
                        values
                        ({0},"{1}","{2}",{3},{4},{5}); """.format(student[0],student[1],student[2],student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
# commit the changes
connection.commit()

# close the connection
connection.close()

#### extract data

In [13]:
# open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()

#write query 
query = "SELECT * from classroom"

#execute query
cursor.execute(query)

#fetch results

results = cursor.fetchall()

for row in results:
    print (row)

(1, u'Mark', u'M', 90, 40, 98)
(2, u'Albert', u'M', 9, 4, 8)
(3, u'Lisa', u'F', 90, 90, 90)
(4, u'Eric', u'M', 50, 55, 70)
(5, u'Paulin', u'F', 80, 84, 54)

### MySQL database

### install package

In [14]:
! conda install -y -q pymysql

Solving environment: ...working... done

## Package Plan ##

  environment location: /home/ds/anaconda2

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.1.23  |                0         126 KB
    pymysql-0.9.3              |           py27_0          82 KB
    ------------------------------------------------------------
                                           Total:         208 KB

The following NEW packages will be INSTALLED:

    pymysql:         0.9.3-py27_0

The following packages will be UPDATED:

    ca-certificates: 2018.03.07-0 --> 2019.1.23-0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done